{% extends "base.html" %}

{% block content %}
        <div class="jumbotron">
          <h1 class="display-4">{{ car[1] }}</h1>
          <p class="lead">Стоимость: {{ car[2] }}</p>
          <hr class="my-4">
          <p>Мощность (л.с.): {{ car[3] }}</p>
          <img src='http://localhost:8080/horse' alt="фото недоступно"></img>
            <p>Порода: {{ dealer }}</p>
        </div>
        {% if isAdmin %}
          <a href="/delete_horse/{{ car_id }}"> <button type="button" class="btn btn-outline-info">удалить</button></a>
        {% else %}
          <a href="/buy_horse/{{ car_id }}"> <button type="button" class="btn btn-outline-info">купить</button></a>
        {% endif %}
        <a href="/index"> <button type="button" class="btn btn-outline-info">Назад</button></a>
{% endblock %}