{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Информация об породах</h1>
      <p class="lead">На данной странице можно просматривать и редактировать породы</p>
      <hr class="my-4">
      <p>Чтобы что-то сделать, тыкай на кнопки</p>
        <a href="{{ url_for('add_breed') }}">
            <button type="button" class="btn btn-secondary">Добавить породу</button>
        </a>
    </div>
    {% for item in dealers %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ item[1] }}</h3>
            <p class="card-text">{{ item[2] }}</p>
            <a href="/delete_breed/{{ item[0] }}" class="btn btn-primary">удалить</a>
            <a href="/breed/{{ item[0] }}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}